* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #eee;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.container-fluid {
    margin-top: 150px;
    position: relative;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-side {
    position: relative;
    width: 300px;
}
.left-side img {
    width: 100%;
    height: 100%;
}
.right-side {
    position: relative;
    width: 300px;
    margin-top: -30px;
    margin-left: 30px;
}

.right-side .name {
    width: 400px;
    height: 50px;
    background: #fff;
    box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.15);
    margin-top: 20px;
    margin-left: -100px;
    margin-bottom: 30px;
}

.right-side .name h1 {
    padding: 10px 10px;
    font-size: 20px;
    font-weight: 700;
    color: rgba(0,0,0,0.5);
    text-transform: uppercase;
}
.right-side span {
    display: block;
    margin-bottom: 20px;
    width: 80px;
    height: 3px;
    background: #c4313180;
}
p{
    font-size: 14px;
    font-weight: 500;
    color: rgba(0,0,0,0.5);
}
.social {
    position: relative;
}
.social .btn {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    font-weight: 700;

}
@media screen and (max-width: 700px) {
    .left-side {
        width: 50%;
    }
    .right-side .name h1 {
        font-size: 15px;
    }
    .right-side .name {
        text-align: center;
        width: 80%;
        position: absolute;
        margin-top: 670px;
        right: 420px;
        
    }
    .right-side p {
        font-size: 14px;
        position: relative;
        right: 350px;
        margin-top: 750px;
        
    }

    .btn {
        position: relative;
        margin-top: 20px;
        right: 350px;
        
    }
    .right-side span {
        display: none;
    }
    .container-fluid {
        margin-top: -100px;
    }
}